.overall {
    
    width: 960px;
    height: 960px;
    border: 50px solid red;
    margin: auto;
    flex-direction: column;
    
}
.Etch {
    margin:auto;
    width:fit-content;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.reset {
    font-size: large;
    position: relative;
    left: 600px;
    bottom: 600px;

}
